<nav>
    <ul class="nav">
        <div class="header-logo">
            <h1 class="logo-nav">HE</h1>    
        </div>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">Find Coach</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>
</nav>