<nav>
    <ul>
        <li><a href="default.asp">About</a></li>
        <li><a href="news.asp">Contact</a></li>
        <li><a href="contact.asp">Find Coach</a></li>
        <li><a href="about.asp">Home</a></li>
    </ul>
</nav>