<%- include('./includes/head.ejs') %>
</head>

<body>

    <!-- BODY -->
    <div class="header">
        <div class="logo-box">
            <img src="/public/img/samalis_action-web.jpg" alt="homepage">
        </div>
    </div>

<%- include('./includes/end.ejs') %>