<%- include('./includes/head.ejs') %>
</head>

<body>

    <!-- BODY -->
    <div class="header">
        <div class="logo-box">
            <a href="/home" class="btn btn-white">Home</a>
        </div>

        <div class="text-box">
            <h1 class="header-primary">
                <span class="header-primary-title">GameUp</span>
                <span class="header-primary-sub">Learning is just a click away</span>
            </h1>

            <a href="#" class="btn btn-white">Come Learn</a>
        </div>
    </div>

<%- include('./includes/footer.ejs') %>

<%- include('./includes/end.ejs') %>