.complete-body {
    height: 800px;
    width: 100%;
    position: relative;
}

.home-body {
    height: 800px;
    width: 80%;
    position: absolute;
    background-color: #F8F8F8;
    float: left;
}

.find-coach-head {
    background-color: #3a3a3a;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid #efefef;
    padding: 24px 48px 22px;
    width: 913px;
    position: relative;
    margin: 50px 0px 50px 50px;
    height: 83px;
}

.find-coach-box {
    position: relative;
    color: rgba(219, 202, 202, 0.925);
    float: right;
    bottom: 10px;

}

.find-coach-box a {
    background-color: #6c19d8d8;
    color: white;
}

.home-side {
    height: 800px;
    width: 20%;
    float: right;
    background-color: #ffffff;
    position: relative;
}