<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/coach.css">


<main>
    <h1>Coaches available now</h1>
    <p>List of all the Coaches...</p>

</main>
