<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/coach.css">


<main>
    <h1>Coaches available now</h1>
    <p>List of all the Coaches...</p>

    <!-- Filter down by criteria -->

        <div class="grid">
            <article class="card coach_card">
                <header class="card_header">
                    <h1 class="coach_title">Title</h1>
                </header>
                <div class="card_image"></div>
                <div class="card_content">
                    <h2 class="coach_pricing">$5.00</h2>
                    <h2 class="coach_summary">Bio of the coach goes here</h2>
                    <div class="card_actions">
                        <button class="btn">Grab this Coach</button>
                    </div>
                </div>
            </article>

            <article class="card coach_card">
                <header class="card_header">
                    <h1 class="coach_title">Title</h1>
                </header>
                <div class="card_image"></div>
                <div class="card_content">
                    <h2 class="coach_pricing">$5.00</h2>
                    <h2 class="coach_summary">Bio of the coach goes here</h2>
                    <div class="card_actions">
                        <button class="btn">Grab this Coach</button>
                    </div>
                </div>
            </article>

            <article class="card coach_card">
                <header class="card_header">
                    <h1 class="coach_title">Title</h1>
                </header>
                <div class="card_image"></div>
                <div class="card_content">
                    <h2 class="coach_pricing">$5.00</h2>
                    <h2 class="coach_summary">Bio of the coach goes here</h2>
                    <div class="card_actions">
                        <button class="btn">Grab this Coach</button>
                    </div>
                </div>
            </article>

            <article class="card coach_card">
                <header class="card_header">
                    <h1 class="coach_title">Title</h1>
                </header>
                <div class="card_image"></div>
                <div class="card_content">
                    <h2 class="coach_pricing">$5.00</h2>
                    <h2 class="coach_summary">Bio of the coach goes here</h2>
                    <div class="card_actions">
                        <button class="btn">Grab this Coach</button>
                    </div>
                </div>
            </article>
        </div>

    <!-- cards will go here  -->


    </main>
</body>