<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/form.css">

</head>

<body>
    <!-- NAVIGATION -->
    <%- include('../includes/navigation.ejs') %>
    <form action="/coaches" class="find-coach">
        <input type="text" class=""/>

        <!-- Text for name  -->
        <!-- DropDown of Game -->
        <!-- Radio of game goals Casual/Pro-->
        

        <button type="submit" class="btn">Find Coach</button>
    </form>
    

<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>